body
{
	font: 100% Lucida Sans, Verdina;
	margin: 20px;
	line-height: 26px;
}
.container
{
	xmin-width: 90px;
}
.wrapper
{
	position: relative;
	ovrflow: auto;
}
.footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #98FB98;
	color: white;
	text-align: center;
	height: 25px;
	font-size: 70%;
}
.columnFoot
{
	float: left;
	width: 33.33%;
	line-height: 10px;
}
.columnBody
{
	float: left;
	width: 33.33%;
}
.row:after
{
	content: "";
	display: table;
	clear: both;
}
@media screen and (max-width: 600px) 
{
  .columnFoot 
  {
    width: 100%;
  }
  .columnBody
  {
	  width: 100%;
  }
}
.horizontally {
 height: 100px;	
 overflow: hidden;
 position: relative;
}
.horizontally .inner {
 position: absolute;
 width: 100%;
 height: 100%;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(40%);
 -webkit-transform:translateX(40%);	
 transform:translateX(40%);
 /* Apply animation to this element */	
 -moz-animation: horizontally 5s linear infinite alternate;
 -webkit-animation: horizontally 5s linear infinite alternate;
 animation: horizontally 5s linear infinite alternate;
}
/* Move it (define the animation) */
@-moz-keyframes horizontally {
 0%   { -moz-transform: translateX(40%); }
 100% { -moz-transform: translateX(-40%); }
}
@-webkit-keyframes horizontally {
 0%   { -webkit-transform: translateX(40%); }
 100% { -webkit-transform: translateX(-40%); }
}
@keyframes horizontally {
 0%   { 
 -moz-transform: translateX(40%); /* Browser bug fix */
 -webkit-transform: translateX(40%); /* Browser bug fix */
 transform: translateX(40%); 		
 }
 100% { 
 -moz-transform: translateX(-40%); /* Browser bug fix */
 -webkit-transform: translateX(-40%); /* Browser bug fix */
 transform: translateX(-40%); 
 }
}
#top, #sidebar, #bottom, .menuitem
{
	border-radius: 4px;
	margin: 4px;
}
#top
{
	background-color: #4CAF50;
	color: #ffffff;
	padding: 15px;
}
#menubar
{
	width: 200px;
	float: left;
}
body
{
	background-image: url("mtgback.jpg")
}
#main
{
	padding: 10px;
	margin: 0 210px;
	opacity: 0.9;
}
#sidebar
{
	background-color: #32a4e7;
	color: #ffffff;
}
#bottom
{
	text-align: center;
	padding: 10px;
	font-size: 70%;
	line-height: 14px;
	background-color: #4CAF50;
}
@keyframes bounceIn
{
	0%
	{
		transform: scale(0.1);
		opacity: 0;
	}
	10%
	{
		transform: scale(0.25);
		opacity: .1;
	}
	20%
	{
		transform: scale(0.4);
		opacity: .2;
	}
	30%
	{
		transform: scale(0.55);
		opacity: .3;
	}
	40%
	{
		transform: scale(0.7);
		opacity: .4;
	}
	50%
	{
		transform: scale(.85);
		opacity: .5;
	}
	60%
	{
		transform: scale(1);
		opacity: .6;
	}
	70%
	{
		transform: scale(1.15);
		opacity: .7;
	}
	80%
	{
		transform: scale(1.2);
		opacity: .8;
	}
	90%
	{
		transform: scale(1.1);
		opacity: .9;
	}
	100%
	{
		transform: scale(1);
	}
}
div
{
	animation-duration: 2s;
	animation-name: bounceIn;
}